#container {
    height: 768px;
    width: 100%;
    background-color: crimson;
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap;
    justify-content: center; */
    align-items: center;

}
.boxes{
    height: 200px;
    width: 200px;
    background-color: blanchedalmond;
    margin-bottom: 10px;
    margin-right: 10px;
}