body, html {
    margin: 0;
    padding: 0;
    height: 100%;  /*Tamaño de la pagina*/
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 50%; /*Tamaño de la pagina*/
    border: 5px solid #ccc;  /*Tamaño de los borde de los lados*/
    box-sizing: border-box;
}

.row {
    display: flex;
    flex: 1;
}

.Box {
    border: 5px solid #ccc; /*borde de los cuadros*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;  /*tamaño de la letra*/
    color: #fff;  /*Cambiado a blanco para mejor contraste*/
} 

.Box-a {
    flex: 1;
    background-color: #dbdb34;  /* Rojo */
}

.Box-b {
    flex: 3;
    height: 300%;
    background-color: #3c47e7;  /* Morado */
}

.Box-c {
    flex: 1;
    height: 300%;
    background-color: #cc2e2e;  /* Amarillo */
}